.production_content_collapse {
  position: relative;
  padding-left: 36px;

  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    display: block;
    height: calc(100% - 24px);
    width: 30px;
    border-left: 1.8px dashed #c8cbcf;
    border-bottom-left-radius: 8px;
  }

  &[data-show-left-dashed-line='true'] {
    &::before {
      height: calc(100% - 2px);
      border-bottom-left-radius: 0px;
    }
  }
}

.show_more_wrapper {
  display: flex;
  width: 100%;

  .show_more {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto 8px;
    gap: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }
}
