.production_wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
}

.checkbox {
  position: absolute;
  top: calc(50% - 4px); // 4px is half of margin bottom that is applied to each production_item
  left: -26px;
  display: flex;
  justify-content: flex-start;
  height: 90%;
  width: 100%;
  transform: translate(5px, -50%);
  transition: opacity 0.15s, transform 0.15s;
  opacity: 0;
  pointer-events: none;

  &[data-is-checkbox-visible='true'] {
    pointer-events: all;
    opacity: 1;
    transform: translate(0, -50%);
  }
}
