.container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #bcc4e3;
  padding: 7.5px 12px;
  height: 40px;
  line-height: 1;
  cursor: pointer;
  gap: 8px;
  transition: background-color 0.15s;
  &:hover {
    border-color: #0851fe;
  }
}

.menu_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 16px 16px;
  border-radius: 8px;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.title {
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  border-bottom: 1px solid #f1f5f9;
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 4px;
  }
}
