.list_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.menu_container {
  :global(.MuiPaper-root) {
    max-width: 190px;
    max-height: 270px;
    overflow-y: auto;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 5px 32px 0px rgba(0, 0, 0, 0.205);
  }
  .body_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .item_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }
    .item_icon {
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .item_image {
      border-radius: 100%;
      width: 30px;
      height: 30px;
      background-color: #d2ebfe;
      color: #878b92;
      font-size: 14px;
      font-weight: 500;
    }
    .item_title {
      color: #000;
      font-size: 13px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.button {
  min-width: 34px;
  height: 22px;
}

.visible_items {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
