.container {
  display: grid;
  grid-template-areas: 'assignee status progress priorities';
  grid-template-columns: 45px 130px 150px 70px;
  gap: 16px;

  > * {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
}

.assignee {
  grid-area: assignee;

  &[data-is-read-only='true'] {
    pointer-events: none;
  }
}

.status {
  grid-area: status;
  justify-content: flex-start;

  &[data-is-read-only='true'] {
    pointer-events: none;
  }
}

.progress {
  grid-area: progress;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  gap: 5px;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: 200ms;

  &[data-clickable='true'] {
    cursor: pointer;
  }

  &[data-is-read-only='true'] {
    pointer-events: none;
  }

  > span {
    width: 77px;
  }
}

.hover_on_progress {
  &:hover {
    background-color: #d6ddff !important;
  }
}

.activity {
  grid-area: activity;
}

.progress {
  border: none;
  background-color: transparent;
}

.priorities {
  grid-area: priorities;
  display: flex;
  gap: 8px;
  &[data-is-read-only='true'] {
    pointer-events: none;
  }
}
